
<main class="container">
    <h1> try project</h1>  

<%= include('projects') %>
</main>
<!-- 
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>


    <body>
      <div id="allPage">
          

      <header>

          <img src="images/assignment1expressbanner.jpg" width="980" height="180" alt="AOS banner"> 
   

      </header>  
      <nav>
        <ul>
            <li class="nav-item active"><a  class ="nav-link" href="/home"> <i class="fa-regular fa-house-day"></i> Home</a></li>

             <li class="nav-item"> <a class="nav-link" href="/about">About</a> </li>
    
             <li class="nav-item"> <a class="nav-link" href="/projects">Projects</a></li>
             <li class="nav-item"> <a class="nav-link" href="/services">Services</a></li>
             <li class="nav-item"> <a class="nav-link" href="contacts"><i class="fa-solid fa-address-card"></i> Contacts</a></li>
             
        </ul> 
       </nav>

        <main>   
          <br><br><br><br><br><br><br>


          <hr>
          <p id="welcome">Welcome to <%= title %>  page</p>
          <%=include partials/projects.ejs%>
          
                <div>
                <h1>
                    <img src="images/corniche1.jpg" width="360" height="80" alt="AOS logo"> <br>
                    AO Solutions logo
                </h1> -->